@import url(Fontes/OpenSans-VariableFont_wdth,wght.ttf);

body{
    background-image: url(Imagens/FundoPerfil.jpg);
    width: 90%;
    height: 850px;
    background-size: 100%;
    background-repeat: no-repeat;
    
}
.RetanguloInvertido{
    background-color: white;
    text-align: center;
    
}