@import url(Fontes/OpenSans-VariableFont_wdth,wght.ttf);

body{
    font-family: "Open Sans", sans-serif;
    text-align: left;
    padding: 130px;
    margin: 75px;
    font-weight: 500;
    font-size: 22px;
    color: rgb(36, 35, 35);
}

.TituloNoticia{
    text-align: center;
    color: rgb(78, 122, 241);
    font-weight: 600;
    font-size: 30px;
}
